<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
    <script>
      function obrir(id){
          window.open("./lassignacions?regini=0&id="+id, '_blank');
      }
  </script>
</head>
<body onfocus="location.reload()">
    <!-- HEADER -->
    <%- include("partials/navigation") %>
    <!-- My Content -->
        <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
        <section>
          <h2 class="display-1">Assignacions per carretó</h2><%- include("partials/paginacio") %>
          <table class="table table-bordered fons" width="100%" cellspacing="0">
            <tr>
              <th>Nom</th>
              <th>Aula</th>
              <th>Estat</th>
              <th>Stock</th>
              <th>Assignació</th>
            </tr>
            <% data.forEach(function(dat){ %>
            <tr>
              <td><%= dat.nom %></td>
              <td><%= dat.nom_aula %></td>
              <td><%= dat.estat %></td>
              <td><%= dat.num_ord %></td>
              <td><button type="button" onclick="obrir(<%= dat.id_car %>)">Veure</button></td>
              <%  }); %>
            </tr>
          </table>
        </section>
      </main>
</body>
</html>