<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
    <script>
      function obrir(id){
          window.open("./grup_forms?id="+id, '_blank');
      }
  </script>
</head>
<body>
    <!-- HEADER -->
    <%- include("partials/navigationbackend") %>
    <!-- My Content -->
        <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
        <section>
          <h2 class="display-1">Grups</h2><%- include("partials/paginacio") %>
          <table class="table table-bordered fons" width="100%" cellspacing="0">
            <tr>
              <th>Codi</th>
              <th>Curs</th>
              <th>Cicle</th>
              <th>Nom</th>
              <th>Aula</th>
              <th>Tutor</th>
              <th>Import</th>
              <th>Edició</th>
            </tr>
            <% data.forEach(function(dat){ %>
            <tr>
              <td><%= dat.codi %></td>
              <td><%= dat.curs %></td>
              <td><%= dat.id_cicle %></td>
              <td><%= dat.nom %></td>
              <td><%= dat.aula %></td>
              <td><%= dat.tutor1 %></td>
              <td><%= dat.importGestIB %></td>
              <td><button type="button" onclick="obrir(<%= dat.id_grup %>)">Editar</button></td>
               <%  }); %>
            </tr>
          </table>
        </section>
      </main>
</body>
</html>