<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <%- include("partials/head") %>
 <script>
    function obrir(id){
        window.open("./prof_forms?id="+id, '_blank');
    }
</script>

</head>

<body onfocus="location.reload()">
  <!-- HEADER -->
  <%- include("partials/navigationbackend") %>
  <!-- My Content -->
  <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
    <section>
     <h1 class="display-1">Professorat</h1><%- include("partials/paginacio") %>
      <table class="table table-bordered fons" width="100%" cellspacing="0">
        <tr>
          <th>Llin1</th>
          <th>Llin2</th>
          <th>Nom</th>
          <th>Crèdit</th>
          <th>Edició</th>
        </tr>
        <% data.forEach(function(dat){ %>
        <tr>
          <td><%= dat.llin1 %></td>
          <td><%= dat.llin2 %></td>
          <td><%= dat.nom %></td>
          <td><%= dat.credit %></td>
          <td><button type="button" onclick="obrir(<%= dat.id_prof %>)">Editar</button></td>
          <%  }); %>
        </tr>
      </table>
    </section>
  </main>
</body>

</html>