<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <%- include("partials/head") %>
  <script src="funcions.js">
  </script>  
</head>

<body onload="loadDepts(3)">
  <!-- HEADER -->
  <%- include("partials/navigationbackend") %>
  <!-- My Content -->
  <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
    <section>
      <h2 class="display-1">Formulari Edició Professorat</h2>
      <form target="_parent" action="/prof_Update" method="get">
        <div class="bordeoutset">
          <div id="codi">
            <label for="codi">Codi GestIB:</label>
            <input type="hidden" id="id" name="id" value="<%= data[0].id_prof %>">
            <input type="text" id="codi" name="codi" value="<%= data[0].codi %>" required>
          </div>
          <div id="nom"><label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" value="<%= data[0].nom %>" required>
          </div>
          <div id="llin1"><label for="llin1">Llinatge 1:</label>
            <input type="text" id="llin1" name="llin1" value="<%= data[0].llin1 %>" required>
          </div>
          <div id="llin2"><label for="llin2">Llinatge 2:</label>
            <input type="text" id="llin2" name="llin2" value="<%= data[0].llin2 %>" required>
          </div>
          <div id="email"><label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= data[0].email %>" required>
          </div>
          <div id="departament"><label for="departament">Departament:</label>
            <input type="hidden" id="deptold" value="<%= data[0].departament %>" required>
            <select id="lista" name="departament" required>
              <option id="opllista" value="">Seleccioni:</option>
            </select>
          </div>
          <div id="credit"><label for="credit">Crèdit:</label>
            <input type="text" id="credit" name="credit" value="<%= data[0].credit %>" required>
          </div>
          <div id="comentaris"><label for="comentaris">Comentaris:</label>
            <textarea id="comentaris" name="comentaris"><%= data[0].comentaris %></textarea>
          </div>
        </div><br>
        <div class="button">
          <input type="submit" value="Modificar"  onclick="return activatancar(3)">
          <button type="button" onclick="tanca()">Tancar</button>
        </div>
      </form>
    </section>
  </main>
</body>
</html>