
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" href="<%= taula %>?regini=0" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% 
      var fi = Math.ceil(numreg / 10);
      for (var i = 0; i < fi; i++) { %>
      <li class="page-item"><a class="page-link" href="<%= taula %>?regini=<%= i %>"><%= i+1 %></a></li>
      <% } %>
      <li class="page-item">
        <a class="page-link" href="<%= taula %>?regini=<%= fi-1 %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>